body{
    background-image: url("背景被.jpg");
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no repeat;
    background-position: center center;
}
body::-webkit-scrollbar {
    display: none;
}